:root {
    --dark-gray: #293240;
    --teal: #6fcade;
}
* {
    font-family: Helvetica, sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-gray);
    width: 98%;
    margin: 30px auto 0 auto;
    height: 100px;
}
header div {
    color: var(--dark-gray);
    padding: 5px 15px 5px 55px;
    background-color: var(--teal);
    font-size: 50px;
    font-weight: bold;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 5px 40px 5px 5px;
    
}
header nav ul li a {
    padding: 5px;
    border-bottom: solid 3px var(--teal);
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
}
header a {
    text-decoration: none;
    color: var(--teal);
}

/* hero */
.hero {
    background-image: url("../images/unnamed.jpg");
    background-size: cover;
    background-position: 50% 58%;
    height: 300px;
    background-repeat: no-repeat;
    position: relative;
    width: 98%;
    margin: 0 auto;
}
.subtitle {
    position: absolute;
    bottom: 5px;
    right: 100px;
}
.subtitle h2 {
    text-align: center;
    font-size: 30px;
    padding: 5px;
    width: 550px;
    height: 35px;
    background-color: var(--teal);
    color: var(--dark-gray);
}

/* about me */
.text-info p {
  width: 100%;
  line-height: 1.5;
}

/* work */
#work {
    margin-top: 200px;
    position: relative;
    top: -200px;
}
.images {
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: center;
    height: 800px;
 }
 #large-image-text {
    left: 0px;
}
#large-image-text, .small-image-text, .small-image-text-right {
    position: absolute;
    z-index: 100;
    background-color: var(--teal);
    width: 175px;
    height: 50px;
    padding: 5px 15px;
    bottom: 20px;
}
 #large-image {
    width: 90%;
    height: 450px;
    right: 5px;
    margin: 15px;
    position: relative;
}
#large-image img {
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: opacity 1s;
    border: 5px solid var(--teal);
}
#large-image img:hover {
    opacity: 1;
}
#large-image-text h3, #large-image-text p {
    z-index: 100;
    padding: 1px;
    margin: 0;
}
#small-images {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    width: 92%;
    position: relative;
}
#small-images img {
    width: 50%;
    padding: 0;
    height: 150px;
    position: relative;
    border: 5px solid var(--teal);
    margin: 5px;
    opacity: .5;
    transition: opacity 1s;
}
#small-images img:hover {
    opacity: 1;
}
.small-image-text {
    left: 5px;
}
.small-image-text-right {
    right: 332px;
}
.small-image-text h3, .small-image-text-right h3,
.small-image-text p, .small-image-text-right p {
    margin: 0;
}
a img {
    padding: 0;
    margin: 0;
    display: block;
}

/* contact me */
.contact-info {
   height: 125px;
}
.contact-info ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.contact-info ul li {
    border-bottom: 5px solid var(--teal);
    width: auto;
    text-align: center;
    list-style: none;
    font-weight: bold;
}
#contact-me {
    position: relative;
    bottom: 200px;
}
a {
    text-decoration: none;
    color: black;
}

/* combined rules */
.text-section {
    display: flex;
    width: 98%;
    padding: 40px;
}
.text-title {
    display: flex;
    width: 200px;
    position: relative;
}
.text-title h2 {
    width: 180px;
    padding: 20px;
    font-size: 40px;
    text-align: right;
    position: absolute;
    right: 0px;
    top: -45px;
}
.text-info, .contact-info, .images {
    display: flex;
    border-left: 5px solid var(--dark-gray);
    width: 66%;
    padding-left: 70px;
}

@media screen and (max-width: 575px) {

    header {
        flex-wrap: wrap;
        height: 100px;
        width: 100%;
        position: relative;
        left: 38px;
    }
    header div{
        height: 40px;
        background-color: var(--teal);
        width: 100%;
        font-size: 30px;
        text-align: center;
        margin: auto;
    }
    nav {
        width: 100%;
       height: 50px;
       justify-content: center;
       display: flex;
    }
    nav ul li a {
        font-size: 10px !important;
    }

    .subtitle h2 {
        font-size: 20px;
        width: 200px;
        height: 50px;
    }
    .hero {
        position: relative;
        left: 38px;
        width: 100%;
    }
    #about-me {
        width: 100%;
      
        display: block;
    }
    .text-info {
        border-left: none;
        border-top: 5px solid var(--dark-gray);
        width: auto;
        margin: 20px;
    }
    .text-info p {
        position: relative;
        right: 35px;
      }
      .text-title {
     
        height: 50px;
        width: auto;
       
      }
      .text-title h2 {
        width: 100%;
        text-align: center;
      }
      #work {
        
        width: auto;
        position: relative;
        left: 38px;
        display: block;
        padding: 0
    }
    .images {
   border-left: none;
   border-top: 5px solid var(--dark-gray);
    width: 95%;
    height: 685px;
    display: block;
    padding: 0;
    margin: 20px;
     }
     #large-image-text {
     
    }
    #large-image-text, .small-image-text, .small-image-text-right {
      
        height: 25px;
        padding: 0;
        width: 35%;
    }
     #large-image {
      
        height: 100px;
        width: 91%;
        right: 15px;
    }
    #large-image img {
     
    }
    #large-image img:hover {
     
    }
    #large-image-text h3, #large-image-text p {
     
        font-size: 10px;
        
    }
    #small-images {
      
        display: block;
        height: 245px;
    }
    #small-images img {
        height: 100px;
        width: 100%;
        position: relative;
        right: 6px;
        
    }
    #small-images img:hover {
      
    }
    .small-image-text {
   
        bottom: 150px;
        left: 0;
    }
    .small-image-text h3, .small-image-text p, .small-image-text-right h3, .small-image-text-right p {
        font-size: 10px;
    }
    .small-image-text-right {
    
        position: relative;
        left: 0;
        bottom: 60px;
    }
    .small-image-text h3, .small-image-text-right h3,
    .small-image-text p, .small-image-text-right p {
      
    }

}